body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
}
html {
    font-family: sans-serif;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.navbar-inverse {
    background-color: #000000;
    border-color: #090909;
    height: 71px;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-fixed-bottom, .navbar-fixed-top {
    border-radius: 0;
}
.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar {
    min-height: 50px;
    margin-bottom: 20px;
    
}

.container {
    width: 1170px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-right: 0;
    margin-left: 0;
}

.navbar-header {
    float: left;
}

.navbar-inverse .navbar-toggle {
    border-color: #333;
}
.navbar-toggle {
    display: none;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-right: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    border-radius: 4px;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
        font-size: inherit;
        line-height: inherit;
        font-family: inherit;
    margin: 0;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
}
.navbar-inverse .navbar-brand {
    color: #9d9d9d;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

a {
    background-color: transparent;
}

.navbar-brand > img {
    display: block;
}
.logo {
    width: 130px;
    margin-top: -10px;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
}

.navbar-nav {
    float: left;
    margin: 0;
}
.navbar-nav {
    margin: 7.5px -15px;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav > li {
    float: left;
}
.nav > li {
    position: relative;
    display: block;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus, a:visited, a:link {
    text-decoration: none;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #080808;
}

.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-nav > li > a {
    line-height: 20px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
        padding-top: 10px;
        padding-bottom: 10px;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
b, strong {
    font-weight: 700;
}

#layerList {
    background-color: #000000;
    color: #fff;
    position: absolute !important;
    z-index: 99;
    padding: 10px;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
        margin-top: 2px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

#layerList li {
    width: 120px;
}
#layerList input, #layerList li {
    display: inline-block;
}

#layerList input, #layerList li {
    display: inline-block;
}
input[type="checkbox"], input[type="radio"] {
    margin: 4px 0 0;
    line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
}

.navbar-inverse .navbar-nav > li > a {
    color: #9d9d9d;
}
.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
        padding-top: 10px;
        padding-bottom: 10px;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus, a:visited, a:link {
    text-decoration: none;
}


element {

    display: block;

}
#search {

    display: block;
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 74px;
    padding-top: 71px;

}

.arcgisSearch .searchGroup {
    position: relative;
    color: #4C4C4C;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: content-box;
}

.arcgisSearch .searchExpandContainer {
    float: left;
}

.arcgisSearch .searchGroup {
    color: #4C4C4C;
    font-family: Arial, Helvetica, sans-serif;
}

.arcgisSearch .searchToggle {
    display: none;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.arcgisSearch .searchBtn {
    display: block;
    float: left;
    padding: 6px 12px;
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    height: 20px;
    width: 20px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #57585A;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    background-color: #fff;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.arcgisSearch .searchIcon {
    font-size: 16px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
}

[class^="esri-icon-"], [class*=" esri-icon-"] {
    font-family: 'CalciteWebCoreIcons';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
}

.arcgisSearch .sourceName {
    clip: rect(0 0 0 0);
    overflow: hidden;
    position: absolute;
    height: 1px;
    width: 1px;
}

.arcgisSearch .searchInputGroup {
    float: left;
    position: relative;
}

.arcgisSearch .searchInputGroup form {
    margin: 0;
    padding: 0;
}

.arcgisSearch .searchGroup .searchInput {
    position: relative;
    z-index: 2;
    margin: 0;
    float: left;
    display: block;
    height: 20px;
    width: 200px;
    padding: 6px 24px 6px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #4C4C4C;
    background-color: #fff;
    border: 1px solid #57585A;
        border-right-color: rgb(87, 88, 90);
        border-right-style: solid;
        border-right-width: 1px;
    border-right: 0;
    border-radius: 4px 0 0 4px;
    transition: width .175s ease-in;
    box-sizing: content-box;
}

.arcgisSearch .searchClear {
    display: none;
    position: absolute;
    top: 2px;
    right: 0;
    z-index: 2;
    height: 30px;
    width: 24px;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
}

.arcgisSearch .searchClose, .arcgisSearch .searchSpinner {
    line-height: 30px;
    width: 24px;
    height: 30px;
}

.arcgisSearch .searchIcon {
    font-size: 16px;
    display: inline-block;
}

[class^="esri-icon-"], [class*=" esri-icon-"] {
    font-family: 'CalciteWebCoreIcons';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
}

.arcgisSearch .searchBtn:hover, .arcgisSearch .searchBtn:focus {
    text-decoration: none;
    background-color: #eee;
}
.arcgisSearch .searchBtn {
    display: block;
    float: left;
    padding: 6px 12px;
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    height: 20px;
    width: 20px;
    text-align: center;
    white-space: nowrap;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border: 1px solid #57585A;
    border-radius: 0 4px 4px 0;
    background-color: #fff;
    box-sizing: content-box;
}

.arcgisSearch .searchIcon {
    font-size: 16px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
}

[class^="esri-icon-"], [class*=" esri-icon-"] {
    font-family: 'CalciteWebCoreIcons';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
}

.arcgisSearch .searchButtonText {
    clip: rect(0 0 0 0);
    overflow: hidden;
    position: absolute;
    height: 1px;
    width: 1px;
}

#map {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding-top: 71px;
}
.map {
    padding: 0;
        padding-top: 0px;
    min-height: 100px;
    max-height: 100%;
    text-align: left;
    overflow: hidden;
}

.map .esriMapContainer {
    position: relative;
    border: none;
    padding: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-align: left;
}

.map .esriMapContainer .esriMapLayers {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.map .esriMapContainer .esriMapLayers > div {
    pointer-events: none;
}

.map .esriMapContainer .esriMapLayers .layerTile {
    position: absolute;
    border: none;
    margin: 0px;
    padding: 0px;
}

.map .esriMapContainer .esriMapLayers > div {
    pointer-events: none;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

div.bottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 85px;
    z-index: 60;
    color: #eeeeee;
    background-color: #000000;
    font-size: .8em;
}

.container {
    width: 1170px;
}

.col-lg-12 {
    width: 100%;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
    float: left;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.btn-group-vertical > .btn-group::after, .btn-group-vertical > .btn-group::before, .btn-toolbar::after, .btn-toolbar::before, .clearfix::after, .clearfix::before, .container-fluid::after, .container-fluid::before, .container::after, .container::before, .dl-horizontal dd::after, .dl-horizontal dd::before, .form-horizontal .form-group::after, .form-horizontal .form-group::before, .modal-footer::after, .modal-footer::before, .modal-header::after, .modal-header::before, .nav::after, .nav::before, .navbar-collapse::after, .navbar-collapse::before, .navbar-header::after, .navbar-header::before, .navbar::after, .navbar::before, .pager::after, .pager::before, .panel-body::after, .panel-body::before, .row::after, .row::before {

    display: table;
    content: " ";

}

p {
    margin: 0 0 10px;
}

.btn-group-vertical > .btn-group::after, .btn-toolbar::after, .clearfix::after, .container-fluid::after, .container::after, .dl-horizontal dd::after, .form-horizontal .form-group::after, .modal-footer::after, .modal-header::after, .nav::after, .navbar-collapse::after, .navbar-header::after, .navbar::after, .pager::after, .panel-body::after, .row::after {
    clear: both;
}




